/* 
    Created on : Jul 23, 2016, 7:32:00 PM
    Author     : behnam
*/

*{
    font-size: 13px;
    font-family: tahoma;
}

body{
    background-color: #eeeff1;
}
a{
    text-decoration: none;
    color: blue;
}
.header{
    background-color: #fff;
}

.ui-menubar{       
    float: right !important;           
    margin-left: 0px !important;        
}
.ui-menu-list {
    right: 0;
}
.ui-menuitem-text {
    float: right !important;
}

.ui-menu-child{
    left: -60px; width: 8.5em;
}

.footer{
    background-color: #fff;
    text-align: center;
}

.top-bar{
    text-align: center;
    background-color: #fff;
    margin-top: 8px;
}