/* 
    Created on : Jul 23, 2016, 7:32:00 PM
    Author     : behnam
*/

*{
    font-size: 13px;
    font-family: tahoma;
}

.label-font-class{
    font-size: 13px;
    font-family: tahoma;
    font-weight: normal;
}

.headr-font-class{
    font-size: 18px;
    font-family: tahoma;
}

.site-header-bg-color{
    background-color: green;
    color: #fff;
}